body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

button {
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
}

input {
    padding: 10px;
    margin: 10px;
}

#timer {
    font-size: 20px;
    margin: 10px;
}

#conteggio {
    font-size: 18px;
    margin: 20px 0;
}

#reportContainer {
    margin-top: 30px;
}

#reportTable {
    width: 100%;
    border-collapse: collapse;
}

#reportTable th, #reportTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#reportTable th {
    background-color: #4caf50;
    color: #fff;
}

#reportTable tr:nth-child(even) {
    background-color: #f9f9f9;
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px; /* Imposta la larghezza massima */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 0 auto; /* Centra orizzontalmente */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}